<div class="comment my-2 d-flex w-100 align-items-start" data-controller="comment-and-replies" data-comment-and-replies-repliescount-value="<%= comment.replies.count %>" data-comment-and-replies-commentid-value="<%= comment.id %>">
  <%= cl_image_tag comment.user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
  <div class="flex-column d-flex ms-3">
    <div class="d-flex justify-content-start align-items-start mb-1">
      <span class="my-0 lh-1.25 w-100">
        <strong><%= comment.user.username %></strong> <%= comment.body %>
      </span>
    </div>
    <div class="d-flex justify-content-start align-items-center flex-wrap mb-2">
      <span class="small-reply"><%= time_ago_in_words(comment.created_at, include_seconds: false).gsub('about', '').gsub(/minute(s)?\s*/, 'm').gsub(/hour(s)?\s*/, 'h').gsub(/day(s)?\s*/, 'd').gsub(' m', 'm').gsub(' h', 'h').gsub(' d', 'd') %></span>


      <a href="#!" class="small-reply mx-2" data-action="click->comment-and-replies#toggleReplyForm">Reply</a>



      <% if comment.user == current_user %>
        <a href="#!" class="small-reply">Delete</a>
      <% end %>
    </div>



<%= render partial: 'comments/replyform', locals: { product: @product, comment: Comment.new, parent_comment_id: comment.id, remote: true } %>




    <% if comment.replies.present? %>
      <div class="small-reply mx-2" data-action="click->comment-and-replies#toggleReplies" data-comment-and-replies-target="viewrepliesbutton">
        <%="View all #{comment.replies.count} replies" %>
      </div>
      <div class="first-reply" data-comment-and-replies-target="firstreply">
        <%= render "comments/reply", reply: comment.replies.last %>
      </div>
      <div class="replies d-none" data-comment-and-replies-target="replies">
        <% comment.replies.each do |reply| %>
          <%= render "comments/reply", reply: reply, comment: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
