<div class="feed-container">

  <% @products.each do |product| %>
    <div class="container d-flex pt-1 pb-3 px-1.5 justify-content-between align-items-center product-info-bar ">
      <%= cl_image_tag product.list.user.avatar.key, class: "avatar mx-2" %>
      <%= product.list.user.username %> added <%= product.title %> to <%= product.list.title %>
    </div>
    <%= render "shared/product", product: product, locals: { button_class: 'btn btn-main', link_url: product_path(product), link_label: "Read More" } %>
    <div class="review-box">
    <div class="text-container">
      <p>
        <%= product.review %>
      </p>

    </div>
    </div>
<% end %>
</div>
