<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %> </title>
    <meta name="description" content="<%= meta_description %>">
    <title>Favolist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "https://kit.fontawesome.com/5bf597f2e8.css", crossorigin: "anonymous" %>


    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= render 'shared/ios_pwa_links' %>

  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/menu" unless controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'welcome'%>

  </body>
</html>
